/*! Define o posicionamento do Logo */
.logo-div {
     position: fixed;
     width: 100%;
     height: 100vh;
     position: absolute;
}

.logo-img {
     position: fixed;
     width: 400px;
     opacity: 0.2;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}

.logo-text {
     position: fixed;
     letter-spacing: 1rem;
     color: #D3A284;
     opacity: 0.6;
     font-weight: bold;
     font-weight: 300;
     font-size: 50px;
     position: absolute;
     left: 50%;
     top: 45%;
     transform: translate(-50%, -25%);
}

/*! Define o posicionamento da Barra de Menu */
.toggle-btn {
     position: fixed;
     margin: 1.4em;
     padding: 1em;
     width: 40px;
     height: 12px;
     right: 0;
     z-index: 2;
}

span.one {
     position: absolute;
     width: 40px;
     height: 3px;
     background: #D3A284;
}

span.two {
     position: absolute;
     width: 40px;
     height: 3px;
     background: #D3A284;
     margin-top: 12px;
}

.menu {
     z-index: 1;
     position: fixed;
     background: #000;
     height: 100%;
     width: 100%;
     top: -100%;
}

.copy {
     position: absolute;
     bottom: 0;
     padding: 2em 0 0 2em;
     text-align: left;
     font-size: 1rem;
     font-weight: lighter;
}

.data {
     padding: 2em 0 0 2em;
     text-align: left;
     display: flex;
     justify-content: space-around;
}

ul, li {
     list-style: none;
     font-size: 15vh;
}

.menu-indice {
     text-decoration: none;
     color: #D3A284;
     transition-duration: .7s;
}

::after {
     content: "";
     display: block;
     width: 0;
     height: 3px;
     position: absolute;
     background-color: currentColor;
     top: 85%;
     transition: all 850ms ease;
}

a:hover::after {
     left: 0%;
     width: 100%;
}

.rodape {
     position: absolute;
     bottom: 4rem;
     display: flex;
     width: 80%;
     justify-content: space-between
}

.rodape a {
     text-decoration: none;
     color: #D3A284
}

.span-rodape {
     text-transform: uppercase;
     margin-right: 10px;
     font-weight: bold;
     color: #D3A284;
}
