/*! Reset e definição da Página */
html, body {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100vh;
     font-family: 'Crimson Text', serif;
}

body {
     background-color: #ffffff;
}

/*! Remove a barra de rolagem */
::-webkit-scrollbar {
     display: none;
 }

/*! Define o posicionamento do Logo */
.logo-div {
     width: 100%;
     height: 100vh;
     position: absolute;
}

.logo-img {
     width: 600px;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -65%);

}

.logo-text {
     letter-spacing: 1rem;
     color: #e8cab3;
     font-weight: 300;
     font-size: 80px;
     position: absolute;
     left: 50%;
     top: 55%;
     transform: translate(-50%, -25%);

}

/*! Define o posicionamento da Barra de Menu */
.toggle-btn {
     position: fixed;
     margin: 1.4em;
     padding: 1em;
     width: 40px;
     height: 12px;
     right: 0;
     z-index: 2;
}

span.one {
     position: absolute;
     width: 40px;
     height: 3px;
     background: #000000;
}

span.two {
     position: absolute;
     width: 40px;
     height: 3px;
     background: #000000;
     margin-top: 12px;
}

.menu {
     z-index: 1;
     position: fixed;
     background: #E8CAB3;
     height: 100%;
     width: 100%;
     top: -100%;
}

.copy {
     position: absolute;
     bottom: 0;
     padding: 2em 0 0 2em;
     text-align: left;
     font-size: 1rem;
     font-weight: lighter;
}

.data {
     padding: 2em 0 0 2em;
     text-align: left;
     display: flex;
     justify-content: space-around;
}

ul, li {
     list-style: none;
     font-size: 15vh;
}

.indice {
     font-size: 15px;
     font-weight: bold;
     color: #010101
}

.menu-indice {
     text-decoration: none;
     color: #010101;
     transition-duration: .7s;
}

.menu-indice:hover{
     text-decoration: underline;
}

.rodape {
     position: absolute;
     bottom: 4rem;
     display: flex;
     width: 80%;
     justify-content: space-between
}

.rodape a {
     text-decoration: none;
     color: #010101
}

.rodape a:hover{
     text-decoration: underline;
}

.span-rodape {
     text-transform: uppercase;
     margin-right: 10px;
     font-weight: bold;
}
