::-webkit-scrollbar {
    display: none;
}

/*! Blocos */

.contend-bloc {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contend-bloc-um {
    margin: 10%;
    display: inline-block;
    width: 100%;
}

.contend-bloc-dois {
    margin: 10%;
    display: inline-block;
    width: 100%;
} 

.bloco-1 {
    width: 800px;
    height: 600px;
}

.bloco-2 {
    transform: translateX(100%);
    width: 800px;
    height: 600px;
}

.bloco-3 {
    width: 800px;
    height: 600px;
}

.bloco-4 {
    transform: translateX(100%);
    width: 800px;
    height: 600px;
}

.hero-title {
    color: cornsilk;
    position: relative;
    font-size: 150px;
    position: absolute;
    right: 42%;
}
