/*! Reset e definição da Página */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Crimson Text', serif;
}

body {
    background: #000 url(bg.jpg) fixed
}

/*! Remove a barra de rolagem */
::-webkit-scrollbar {
    display: none;
}
