

/*! Blocos */
.contend-bloc {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*? Exemplo */
/* .contend-bloc-um {
    margin: 10%;
    display: inline-block;
    width: 100%;
}

.hero-title {
    color: cornsilk;
    position: relative;
    font-size: 150px;
    position: absolute;
    right: 42%;
} */
